<div class="row ">

  <div class="col-xs-6 col-md-4">
  <div class="slides">

  <div id="slides" class="list-group">
  <a href="#" class="list-group-item active">
    <h3>Slides</h3>
  </a>

</div>
    
  </div>

</div>


  <div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading" >  
      <div class="row">
       <div class="col-lg-2">
            <button id="save-slide" class="btn btn-primary btn-group-lg" disabled="true"><span class="glyphicon glyphicon-floppy-disk" ></span>Save</button>
      <button id="play-presentation" href="" class="btn btn-success btn-group-lg" disabled="true"><span class="glyphicon glyphicon-play" disabled></span> Play</button>  
      </div>
       <div class="col-lg-10">     
  <div class="input-group input-group-md">
  <span class="input-group-addon glyphicon glyphicon-list-alt" id="sizing-addon1"></span>
  <input type="text" id="presentation-name" class="form-control" placeholder="Presentation name" aria-describedby="sizing-addon1">
    <span class="input-group-btn">
        <button id="save-presentation" class="btn btn-default" type="button">Create</button>
      </span>
</div>
</div>
</div>
</div>
  <div class="panel-body">
   <form>
            <textarea name="editor" id="editor" rows="20" cols="200">
              
            </textarea>

            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor' );
            </script>
    </form>
  </div>
</div>





  </div>


</div>
